.skdo .navbar.navbar-gitlab {
  background-color: #222 !important;
}

[data-testid="designs-root"],
.design-dropzone-wrapper,
.js-epics-sidebar-callout,
.js-weight-sidebar-callout,
.milestone + .block,
.block.confidentiality,
.block.lock {
  display: none !important;
}
